{% extends 'base.html' %}
{% block content %}

{% if search %}
<!-- Page Content -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mt-4">Search result for: <u>{{text}}</u></h1>
      <!-- <p class="lead">Discover a world of amazing books that will captivate your mind and soul.</p> -->
    </div>
    <div class="col-lg-4">
      <div class="card my-4">
        <label for="validationCustomUsername" class="form-label">
          <h5 class="card-header">Search Books</h5>
        </label>

        <div class="card-body">
          <form method="POST" action="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="input-group">
              <input type="text" name="text" class="form-control" id="validationDefaultUsername"
                placeholder="Search for..." required>
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Go!</button>
              </span>
            </div>
            <div class="text-end mt-2">
              <a href="{{ url_for('search') }}" class="small">Advanced search</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {% for book in searched_books %}
    <div class="col-lg-3 col-md-6 mb-4">
      <!-- <div class="card h-50"> -->
        <div>
        <a href="{{ url_for('book', book_id=book.id)}}">
          <img class="card-img-top img-fluid"  style="width: 200px; height: 300px;" src="{{ url_for('static', filename=book.image) }}" alt="Book Image 1"
            class="img-fluid">
          <div class="card-body">
            <h4 class="card-title">{{ book.title }}</h4>
            <p class="card-text">{{ book.subtitle | truncate(30,'...') }}</p>
        </a>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('request_book', book_id=book.id)}}" class="btn btn-secondary">Request</a>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- End Book Cards Section -->
</div>


{% else %}

<!-- Page Content -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mt-4">Welcome to Your Book Website</h1>
      <p class="lead">Discover a world of amazing books that will captivate your mind and soul.</p>
    </div>
    <div class="col-lg-4">
      <div class="card my-4">
        <h5 class="card-header">Search Books</h5>
        <div class="card-body">
          <form method="POST" action="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="input-group">
              <input type="text" name="text" class="form-control" id="validationDefaultUsername"
                placeholder="Search for..." required>
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Go!</button>
              </span>
            </div>
            <div class="text-end mt-2">
              <a href="{{ url_for('search') }}" class="small">Advanced search</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Featured Books Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="mt-4">Featured Books</h2>
      <hr class="short-hr">
    </div>
    <!-- Book Cards Section -->
    {% for book in books %}
    <div class="col-lg-3 col-md-6 mb-4">
      <!-- <div class="card h-10"> -->
        <div>
        <a href="{{ url_for('book', book_id=book.id)}}">
          <img class="card-img-top img-fluid"  style="width: 200px; height: 300px;" src="{{ url_for('static', filename=book.image) }}" alt="Book Image 1"
            class="img-fluid">
          <div class="card-body">
            <h4 class="card-title">{{ book.title }}</h4>
            <p class="card-text">{{ book.subtitle | truncate(30,'...') }}</p>
        </a>
      </div>
      <!-- <div class="card-footer"> -->
        <!-- <a href="{{ url_for('request_book', book_id=book.id)}}" class="btn btn-secondary">Request</a> -->
      <!-- </div> -->
    </div>
  </div>
  {% endfor %}
  <!-- End Book Cards Section -->
</div>
</div>
{% endif %}
{% endblock %}